.popup__container {
    margin: 0;
    position: relative;
    box-sizing: border-box;
    padding: 25px 22px;
    width: 282px;
    background-color: #FFFFFF;
    border-radius: 10px;
    height: 322px;
}
  
@media screen and (min-width: 768px) {
    .popup__container {
      padding: 34px 36px 37px 34px;
      width: 430px;
      height: 330px;
    }
}