.card__like {
    margin: 0;
    padding: 0;
    width: 22px;
    height: 19px;
    position: absolute;
    right: 20px;
    bottom: 30px;
    background-color: inherit;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    transition: opacity .3s ease-in-out;
    background-image: url('../../../images/icon-like.svg');
  }
  
  .card__like:hover {
    opacity: .5;
  }